.userDeleteBtn:hover{
	color:red;
	border-color:red;
	box-shadow: 0px 5px 20px #555;
}
.userDeleteBtn{
	outline:none;
	border-width: 2px;
	border-color: #66bb6a;
	border-style:solid;
	border-radius: 15px;
	background-color: white;
	color:grey;
}

#userListPage{
	margin:auto;
	width:80%;
}
#doctorListPage{
	margin:auto;
	width:80%;
}
#adminDashboard{
	margin:auto;
	width:80%;
	
}
