
/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #a5d6a7; /* Green*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }

  .Navbar {
    height: 46px;
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 0px;
    text-align: left;
    margin-left: 20px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }

  #profilePhoto {
      border-radius: 50%;
      width: 60px;
      float: left;
  }

  #profileName{
      font-size: 15px;
      text-align: left;
      padding-left: 90px;
      color: #818181
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 30px;
    cursor: pointer;
    background-color: #455a64;
    padding-bottom: 5px;
    color: white;
    float: left;
    border: none;
  }

  #logout{
      position: absolute;
      bottom: 90px;
  }

  

  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #455a64;
    transition: margin-left .5s; /* If you want a transition effect */ 
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
