.wrapper{
	height:100vh;
	width:100%;
	display:flex;
	flex-direction: column;
	justify-content: center;
	background-color: #00bfa5

}

#h2_SignUp{
	text-align: center;
	color:white;
	font-family: Montserrat;
}
#signUpLogo{
	width:40px;
	height:40px;
	margin:auto;
}

#signUpForm{
	margin:auto;
	border-radius:10px;
	box-shadow: 0px 10px 50px #555;
	background-color:#a5d6a7;
	width:420px;
	height:470px;
	margin-top: 100px;
	padding:15px;
}

.signUpName{
	width:190px;
	height:56px;
	border-radius: 20px;
	border-width: 2px;
	border-color: #66bb6a;
	border-style:solid;
	border-radius: 20px;
	outline:none;
	font-size: 15px;
}



.emailDoc{
	outline:none;
	width:390px;
	height:56px;
	margin-top:11px;
	border-width: 2px;
	border-color: #66bb6a;
	border-style:solid;
	border-radius: 20px;
	font-size: 15px;
}

.pswd{
	outline:none;
	height:56px;
	width:190px;
	margin:auto;
	margin-top:11px;
	border-width: 2px;
	border-color: #66bb6a;
	border-style:solid;
	border-radius: 20px;
	font-size:15px;
}
#labelViaEmail{
	font-size:14px;
	font-family:Montserrat;
}
#signUpCheckbox{
	margin-top:-10px;
}
#signUpBtn{
	width:396px;
	height:36px;
	outline:none;
	border-width: 2px;
	border-color: #66bb6a;
	border-style:solid;
	border-radius: 20px;
	font-size:16px;
	background-color: white;
	color:grey;
	margin-top: 11px;
}
#signUpBtn:hover{
	background-color: #a5d6a7;
	color:white;
	box-shadow: 0px 5px 20px #555;
}
#goLogin{
	float:right;
	font-size:14px;
	font-family:Montserrat;
}

.errorMessage{
	color:red;
	font-family:Montserrat;
	font-size:14px;
}

