.titleQa{
    font-size: 8vh;
    text-align: center;
}
.searchGroupQa{
    margin-top: 5vh;
}

.jumbotronQa{
    background-color: #fafff0;
    height: auto;
}

.form-groupQa{
    width: 99vh;
    margin-right: 2vh;
    display: inline-block;
}

.likeQa{
    height: 4vh;
    position: absolute;
    right: 5%;
    text-align: center;
    line-height: 15px;
}

.profilephotoQa{
    margin-right: 2vh;
    width: 7.5vh;
    border-radius: 50%;
}

.h4Qa{
    text-align: left;
}

.contentQa{
    margin-left: 2vh;
    text-align: left;
}

.Media{
    margin-bottom: 10vh;
    min-height: 20vh;
    overflow: hidden;
}

#post{
    width: 99vh;
    height: 15vh;
}

#tags{
    width: 12vh;
    position: relative;
    left: 2vh;
}

.tagDiv{
    position: relative;
    float: left;
    left: 29.5vh;
    width: 10vh
}

.anonnCheck{
    padding-top: 1vh;
    padding-left: 4vh;
    position: relative;
    right: 35vh;
    display: inline-block
}

.postForm{
    position: relative;
}

.profilephotoPost{
    position: absolute;
    left: 22vh;
    top: 8px;
    width: 7.5vh;
    border-radius: 50%;
}

.replyBtn{
    padding-top: 5px;
    height: 18px;
}

.replyInput{
    position: absolute;
    left: 10%;
    width: 50%;
    visibility: collapse;
}

.borderQa{
    position: relative;
    min-height: 140px;
    overflow: hidden;
}

.mt-3Qa{
    margin-left: 30vh;
}

#dropDown{
    position: absolute;
    left: 10vh;
}