.title{
    font-size: 70px;
    text-align: left;
}
.searchGroup{
    margin-top: 40px;
}

.jumbotron{
    background-color: #fafff0;
}

.form-group{
    width: 800px;
    margin-right: 20px;
    display: inline-block;
}

.like{
    height: 30px;
    position: absolute;
    right: 200px;
    text-align: center;
    line-height: 15px;
}

.profilephoto{
    margin-right: 8px;
    width: 60px;
    border-radius: 50%;
}

h4{
    text-align: left;
}

.content{
    margin-left: 20px;
    text-align: left;
}

.Media{
    margin-bottom: 100px;
}

#post{
    width: 800px;
    height: 100px;
}

#tags{
    width: 100px;
    position: relative;
    left: 20px;
}

.tagDiv{
    position: relative;
    float: left;
    left: 244px;
    width: 100px
}

.anonnCheck{
    padding-top: 5px;
    padding-left: 40px;
    position: relative;
    right: 300px;
    display: inline-block
}

.postForm{
    position: relative;
}

.profilephotoPost{
    position: absolute;
    left: 180px;
    top: 8px;
    width: 60px;
    border-radius: 50%;
}

.replyBtn{
    padding-top: 5px;
    height: 18px;
}