#wrapper{
	height:100vh;
	width:100%;
	display:flex;
	flex-direction: column;
	justify-content: center;
	background-color: #fafff0;

}

#signIn{
	text-align: center;
	color:white;
	font-family: Montserrat;
}
#signInLogo{
	width:40px;
	height:40px;
	margin:auto;
}
#signInForm{
	margin:auto;
	border-radius:10px;
	box-shadow: 0px 10px 50px #555;
	background-color:#a5d6a7;
	width:420px;
	height:470px;
	margin-top: 100px;
	padding:15px;

}

.signInEmailPswd{
	outline:none;
	width:390px;
	height:56px;
	margin-top:11px;
	border-width: 2px;
	border-color: #66bb6a;
	border-style:solid;
	border-radius: 20px;
	font-size: 15px;
}

#labelRememberMe{
	font-size:14px;
	font-family:Montserrat;
}
#signInBtn{
	width:396px;
	height:36px;
	outline:none;
	border-width: 2px;
	border-color: #66bb6a;
	border-style:solid;
	border-radius: 20px;
	font-size:16px;
	background-color: white;
	color:grey;
	margin-top: 11px;
}
#signInBtn:hover{
	background-color: #a5d6a7;
	color:white;
	box-shadow: 0px 5px 20px #555;
}
#signInLink{
	margin-top:10px;
	font-size:14px;
	font-family:Montserrat;
}
#goQue{
	float:right;
}
