#SignInWrapper{
	height:100vh;
	width:100%;
	display:flex;
	flex-direction: column;
	justify-content: center;
	background-color: #fafff0;
}
#SignInFormWrapper{
	margin-top: -150px;
}
#signInTitle{
	text-align: center;
	font-family: Montserrat;
	color:grey;
	margin-bottom: 20px;
}
b{
	color:#66bb6a;
}

#signInLogo{
	width:55px;
	height:55px;
	margin:auto;
	margin-bottom:30px;
}
#signInForm{
	margin:auto;
	border-radius:15px;
	box-shadow: 0px 10px 50px #555;
	background-color:#fafff0;
	width:330px;
	height: 350px;
	margin-top: 10px;
	padding:15px;
	position: relative;

}
.signInLabel{
	color:#37474f;
	font-family: Montserrat;
	font-size:16px;
	margin-left: 5px;
	position: absolute;
	background-color: white;
}

.signInEmailPswd{
	outline:none;
	width:100%;
	height:53px;
	margin-top:11px;
	border-width: 0.5px;
	border-color: #cfd8dc;
	border-style:solid;
	border-radius: 15px;
	font-size: 15px;
}

#labelRememberMe{
	font-size:14px;
	font-family:Montserrat;
}
#signInBtn{
	width:100%;
	height:36px;
	outline:none;
	border-width: 0.5px;
	border-color: #cfd8dc;
	border-style:solid;
	border-radius: 20px;
	font-size:16px;
	background-color: white;
	color:grey;
	margin-top: 11px;
}
#signInBtn:hover{
	background-color: #a5d6a7;
	color:white;
	box-shadow: 0px 5px 20px #555;
}
#signInLink{
	margin-top:10px;
	font-size:14px;
	font-family:Montserrat;
}
#goQue{
	float:right;
}
