.titleQa{
    font-size: 8vh;
    text-align: center;
}
.searchGroupQa{
    margin-top: 5vh;
}

.jumbotronQa{
    background-color: #fafff0;
    height: auto;
}

.form-groupQa{
    width: 99vh;
    margin-right: 2vh;
    display: inline-block;
}

.likeQa{
    height: 4vh;
    position: absolute;
    right: 5%;
    text-align: center;
    line-height: 15px;
}

.profilephotoQa{
    margin-right: 2vh;
    width: 7.5vh;
    border-radius: 50%;
}

.h4Qa{
    text-align: left;
}

.contentQa{
    margin-left: 2vh;
    text-align: left;
}

.Media{
    margin-bottom: 10vh;
    min-height: 20vh;
    overflow: hidden;
}

#post{
    width: 99vh;
    height: 15vh;
}

#tags{
    width: 12vh;
    position: relative;
    left: 2vh;
}

.tagDiv{
    position: relative;
    float: left;
    left: 29.5vh;
    width: 10vh
}

.anonnCheck{
    padding-top: 1vh;
    padding-left: 4vh;
    position: relative;
    right: 35vh;
    display: inline-block
}

.postForm{
    position: relative;
}

.profilephotoPost{
    position: absolute;
    left: 22vh;
    top: 8px;
    width: 7.5vh;
    border-radius: 50%;
}

.replyBtn{
    padding-top: 5px;
    height: 18px;
}

.replyInput{
    position: absolute;
    left: 10%;
    width: 50%;
    visibility: collapse;
}

.borderQa{
    position: relative;
    min-height: 140px;
    overflow: hidden;
}

.mt-3Qa{
    margin-left: 30vh;
}

#dropDown{
    position: absolute;
    left: 10vh;
}


/* The sidebar menu */
.sidebar {
    z-index: 1000;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    top: 0;
    left: 0;
    background-color: #a5d6a7; /* Green*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }

  .Navbar {
    height: 46px;
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 8px;
    text-align: left;
    margin-left: 20px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }

  #profilePhoto {
      border-radius: 50%;
      width: 60px;
      float: left;
  }

  #profileName{
      font-size: 15px;
      text-align: left;
      padding-left: 95px;
      margin-top:15px;
      margin-bottom: 15px;
      color: #818181
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 30px;
    cursor: pointer;
    background-color: #455a64;
    padding-bottom: 5px;
    color: white;
    float: left;
    border: none;
  }

  #logout{
      position: absolute;
      bottom: 90px;
  }

  

  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #455a64;
    transition: margin-left .5s; /* If you want a transition effect */ 
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  .jumbotronQuest{
    position: relative;
    height: 100vh;
    background-color: #fafff0;
}

.containerQuest{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
}

.btnQuest{
    margin: 20px 12px 12px 12px;
    border: 0;
}

.btnQuest:hover{
    background-color: #a5d6a7;
}


