html {
  font-size: 16px;
  font-weight: 500;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  html {
    font-size: 16px;
    font-weight: 400;
  }
}

body {
  background: #f5f6f8;
  font-size: 15px;
  font-weight: 500;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  body {
    font-size: 13px;
    font-weight: 400;
  }
}

a {
  color: #007bff;
}
a:hover {
  color: #0056b3;
}

label {
  font-weight: 400;
}

.datepicker {
  font-size: 0.75rem;
  padding: 0.625rem;
}
.datepicker table tr td,
.datepicker table tr th {
  width: 1.875rem;
  height: 1.875rem;
}

.btn-white:not([disabled]):not(.disabled):active,
.btn-white:not([disabled]):not(.disabled).active,
.btn-black:not([disabled]):not(.disabled):active,
.btn-black:not([disabled]):not(.disabled).active {
  box-shadow: none !important;
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}
.btn-white:not([disabled]):not(.disabled):active + .btn,
.btn-white:not([disabled]):not(.disabled).active + .btn,
.btn-black:not([disabled]):not(.disabled):active + .btn,
.btn-black:not([disabled]):not(.disabled).active + .btn {
  border-left: 1px solid #007bff;
}

.btn-white:hover,
.btn-black:hover {
  background: #fff;
  border-color: #fff;
  box-shadow: 0px 0.125rem 0.625rem rgba(129, 142, 163, 0.2),
    0 0.0625rem 0.125rem rgba(129, 142, 163, 0.3);
}

.btn.btn-white {
  border: 1px solid #e1e5eb;
  color: #3d5170;
}
.btn.btn-white:not([disabled]):not(.disabled).active-primary.active,
.btn.btn-white:not([disabled]):not(.disabled).active-primary:active {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}
.btn.btn-white:not([disabled]):not(.disabled).active-primary.active + .btn,
.btn.btn-white:not([disabled]):not(.disabled).active-primary:active + .btn {
  border-left: 1px solid red;
}
.btn.btn-white:not([disabled]):not(.disabled).active-secondary.active,
.btn.btn-white:not([disabled]):not(.disabled).active-secondary:active {
  background-color: #5a6169;
  border-color: #5a6169;
  color: #fff;
}
.btn.btn-white:not([disabled]):not(.disabled).active-secondary.active + .btn,
.btn.btn-white:not([disabled]):not(.disabled).active-secondary:active + .btn {
  border-left: 1px solid red;
}
.btn.btn-white:not([disabled]):not(.disabled).active-success.active,
.btn.btn-white:not([disabled]):not(.disabled).active-success:active {
  background-color: #17c671;
  border-color: #17c671;
  color: #fff;
}
.btn.btn-white:not([disabled]):not(.disabled).active-success.active + .btn,
.btn.btn-white:not([disabled]):not(.disabled).active-success:active + .btn {
  border-left: 1px solid red;
}
.btn.btn-white:not([disabled]):not(.disabled).active-info.active,
.btn.btn-white:not([disabled]):not(.disabled).active-info:active {
  background-color: #00b8d8;
  border-color: #00b8d8;
  color: #fff;
}
.btn.btn-white:not([disabled]):not(.disabled).active-info.active + .btn,
.btn.btn-white:not([disabled]):not(.disabled).active-info:active + .btn {
  border-left: 1px solid red;
}
.btn.btn-white:not([disabled]):not(.disabled).active-warning.active,
.btn.btn-white:not([disabled]):not(.disabled).active-warning:active {
  background-color: #ffb400;
  border-color: #ffb400;
  color: #212529;
}
.btn.btn-white:not([disabled]):not(.disabled).active-warning.active + .btn,
.btn.btn-white:not([disabled]):not(.disabled).active-warning:active + .btn {
  border-left: 1px solid red;
}
.btn.btn-white:not([disabled]):not(.disabled).active-danger.active,
.btn.btn-white:not([disabled]):not(.disabled).active-danger:active {
  background-color: #c4183c;
  border-color: #c4183c;
  color: #fff;
}
.btn.btn-white:not([disabled]):not(.disabled).active-danger.active + .btn,
.btn.btn-white:not([disabled]):not(.disabled).active-danger:active + .btn {
  border-left: 1px solid red;
}
.btn.btn-white:not([disabled]):not(.disabled).active-light.active,
.btn.btn-white:not([disabled]):not(.disabled).active-light:active {
  background-color: #fbfbfb;
  border-color: #fbfbfb;
  color: #212529;
}
.btn.btn-white:not([disabled]):not(.disabled).active-light.active + .btn,
.btn.btn-white:not([disabled]):not(.disabled).active-light:active + .btn {
  border-left: 1px solid red;
}
.btn.btn-white:not([disabled]):not(.disabled).active-dark.active,
.btn.btn-white:not([disabled]):not(.disabled).active-dark:active {
  background-color: #212529;
  border-color: #212529;
  color: #fff;
}
.btn.btn-white:not([disabled]):not(.disabled).active-dark.active + .btn,
.btn.btn-white:not([disabled]):not(.disabled).active-dark:active + .btn {
  border-left: 1px solid red;
}

.btn-accent {
  color: #fff;
  border-color: #007bff;
  background-color: #007bff;
  box-shadow: none;
}
.btn-accent:hover {
  color: #fff;
  background-color: #006fe6;
  border-color: #006fe6;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 4px 10px rgba(0, 123, 255, 0.25);
}
.btn-accent:focus,
.btn-accent.focus {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.15),
    0 3px 15px rgba(0, 123, 255, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1);
}
.btn-accent.disabled,
.btn-accent:disabled {
  background-color: #007bff;
  border-color: #007bff;
  box-shadow: none;
  cursor: not-allowed;
}
.btn-accent:not(:disabled):not(.disabled):active,
.btn-accent:not(:disabled):not(.disabled).active,
.show > .btn-accent.dropdown-toggle {
  color: #fff;
  background-color: #006fe6;
  border-color: #0062cc;
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}

.btn-outline-accent {
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
  color: #007bff;
}
.btn-outline-accent:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 4px 10px rgba(0, 123, 255, 0.25);
}
.btn-outline-accent:focus,
.btn-outline-accent.focus {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.15),
    0 3px 15px rgba(0, 123, 255, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1) !important;
}
.btn-outline-accent.disabled,
.btn-outline-accent:disabled {
  color: #007bff;
  background-color: transparent;
  box-shadow: none;
}
.btn-outline-accent:not(:disabled):not(.disabled):active,
.btn-outline-accent:not(:disabled):not(.disabled).active,
.show > .btn-outline-accent.dropdown-toggle {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn-outline-accent:not(:disabled):not(.disabled):active:focus,
.btn-outline-accent:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-accent.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}

.btn-group-sm i {
  transform: scale(1.3);
}

.navbar-light .navbar-brand {
  font-weight: 500;
  color: #3d5170;
}

.nav-link {
  font-size: 0.8125rem;
  font-weight: 400;
}
.nav-link-icon {
  color: #818ea3;
}
.nav-link-icon:hover,
.nav-link-icon:focus {
  color: #66748b;
}
.nav-link-icon__wrapper {
  position: relative;
}
.nav-link-icon i {
  font-size: 1.25rem;
}
.nav-link-icon i.material-icons {
  font-size: 1.5625rem;
}

.badge-accent {
  color: #fff;
  background-color: #007bff;
}
.badge-accent[href]:hover,
.badge-accent[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #0062cc;
}

.badge-outline-accent {
  background: none;
  border: 1px solid #007bff;
  color: #007bff;
}

.alert-accent {
  color: #f5faff;
  background-color: #007bff;
}
.alert-accent .alert-link {
  color: #f5faff;
}

.alert-dismissible .close {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.input-group {
  min-width: 7.5rem;
}

.input-group-text {
  font-size: 0.8125rem;
}

.input-group.input-group-seamless > .form-control:not(:first-child),
.input-group.input-group-seamless > .custom-select:not(:first-child) {
  padding-left: 1.875rem;
}

.input-group-text i {
  transform: scale(1.1);
}
.input-group-text i.fa {
  font-size: 0.75rem;
}
.input-group-text i.material-icons {
  top: 0;
  font-size: 0.8125rem;
}

.custom-select-sm {
  font-size: 0.6875rem;
  border-radius: 0.25rem;
}

.custom-select-lg {
  border-radius: 0.25rem;
}

.custom-control {
  line-height: 1.5rem;
}

.custom-checkbox
  .custom-control-input:disabled:checked
  ~ .custom-control-label::after {
  border-color: #becad6;
}

.custom-radio
  .custom-control-input:disabled:checked
  ~ .custom-control-label::after {
  background: #becad6;
}

.custom-toggle
  .custom-control-input:checked:disabled
  ~ .custom-control-label::after {
  background: #becad6;
}

.slider-accent .noUi-connect {
  background: #007bff;
}

.noUi-pips {
  font-size: 0.625rem;
}

.noUi-tooltip {
  font-size: 0.75rem;
  padding: 5px 10px;
}

.noUi-horizontal .noUi-tooltip {
  bottom: 1.625rem;
}

.noUi-horizontal .noUi-handle {
  left: -0.625rem;
  top: -0.5rem;
}

.noUi-handle {
  width: 23px;
  height: 23px;
}

.thumbnail {
  border: 1px solid #d4d4d4;
}

i.material-icons {
  top: 2px;
}

.dropdown .fa,
.dropdown .material-icons {
  color: #c3c7cc;
  margin-right: 0.25rem;
}

.dropdown .dropdown-item:hover {
  background-color: #fafafb;
}

.card-header h1,
.card-header h2,
.card-header h3,
.card-header h4,
.card-header h5,
.card-header h6 {
  font-weight: 500;
}

.card .view-report {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 0.75rem;
}
.card .view-report a {
  color: #3d5170;
}
.card .view-report a:hover {
  color: #007bff;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-visible {
  overflow: visible;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-auto {
  overflow: auto;
}

.no-shadow {
  box-shadow: none !important;
}

.text-fiord-blue {
  color: #3d5170 !important;
}

a.text-fiord-blue:hover,
a.text-fiord-blue:focus {
  color: #2b394f !important;
}

.text-shuttle-gray {
  color: #5a6169 !important;
}

a.text-shuttle-gray:hover,
a.text-shuttle-gray:focus {
  color: #42484e !important;
}

.text-reagent-gray {
  color: #818ea3 !important;
}

a.text-reagent-gray:hover,
a.text-reagent-gray:focus {
  color: #66748b !important;
}

.text-mischka {
  color: #cacedb !important;
}

a.text-mischka:hover,
a.text-mischka:focus {
  color: #acb2c6 !important;
}

.text-athens-gray {
  color: #e9ecef !important;
}

a.text-athens-gray:hover,
a.text-athens-gray:focus {
  color: #cbd3da !important;
}

.text-accent {
  color: #007bff !important;
}

a.text-accent:hover,
a.text-accent:focus {
  color: #0062cc !important;
}

.text-light {
  color: #818ea3 !important;
}

.text-semibold {
  font-weight: 400;
}

.border {
  border: 1px solid #e1e5eb !important;
}

.border-top {
  border-top: 1px solid #e1e5eb !important;
}

.border-right {
  border-right: 1px solid #e1e5eb !important;
}

.border-bottom {
  border-bottom: 1px solid #e1e5eb !important;
}

.border-left {
  border-left: 1px solid #e1e5eb !important;
}

.rounded {
  border-radius: 5px !important;
}

.rounded-top {
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

.rounded-right {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.rounded-bottom {
  border-bottom-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.rounded-left {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.border-accent {
  border-color: #007bff !important;
}

.main-navbar .navbar {
  height: 3.75rem;
}
.main-navbar .navbar > * {
  display: flex;
}
.main-navbar .navbar .nav-link {
  min-width: 3.75rem;
}
.main-navbar .navbar .notifications {
  position: relative;
}
@media (max-width: 767.98px) {
  .main-navbar .navbar .notifications {
    position: static;
  }
  .main-navbar .navbar .notifications .dropdown-menu {
    min-width: 100% !important;
    border-left: none;
  }
}
.main-navbar .navbar .notifications .badge {
  position: absolute;
  padding: 0.25rem 0.375rem;
  font-size: 0.5rem;
  left: 50%;
  top: 50%;
}
.main-navbar .navbar .notifications .dropdown-menu {
  padding: 0;
  min-width: 25rem;
  border-right: 0;
  left: auto;
}
@media (max-width: 767.98px) {
  .main-navbar .navbar .notifications .dropdown-menu {
    left: 0;
    right: 0;
  }
}
.main-navbar .navbar .notifications .dropdown-menu .dropdown-item {
  white-space: normal;
  display: flex;
  flex-flow: row;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  border-bottom: 1px solid #e1e5eb;
}
.main-navbar .navbar .notifications .dropdown-menu .dropdown-item:last-child {
  border-bottom: 0;
}
.main-navbar .navbar .notifications .dropdown-menu .notification__icon-wrapper {
  display: flex;
  padding: 0 5px;
}
.main-navbar .navbar .notifications .dropdown-menu .notification__icon {
  background-color: #f5f6f8;
  box-shadow: 0 0 0 1px white, inset 0 0 3px rgba(0, 0, 0, 0.2);
  width: 2.1875rem;
  height: 2.1875rem;
  line-height: 0;
  display: block;
  text-align: center;
  margin: auto;
  border-radius: 50%;
}
.main-navbar .navbar .notifications .dropdown-menu .notification__icon i {
  color: #818ea3;
  line-height: 2.0625rem;
  font-size: 1.0625rem;
  margin: 0;
}
.main-navbar .navbar .notifications .dropdown-menu .notification__content {
  padding: 0 0.625rem;
}
.main-navbar .navbar .notifications .dropdown-menu .notification__content p {
  margin: 0;
  line-height: 1.5;
  font-size: 0.75rem;
}
.main-navbar .navbar .notifications .dropdown-menu .notification__category {
  font-size: 0.5625rem;
  color: #818ea3;
  letter-spacing: 0.0938rem;
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: 500;
}
.main-navbar .navbar .notifications .dropdown-menu .notification__all {
  display: block;
  font-weight: 500;
  font-size: 11px;
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}
.main-navbar .navbar .user-avatar {
  max-width: 2.5rem;
}
.main-navbar .navbar .navbar-nav .dropdown-menu {
  position: absolute;
  right: 0;
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}
.main-navbar .navbar .nav-link-icon i {
  line-height: 2.5rem;
}

.main-content > .main-navbar,
.main-content .header-navbar {
  box-shadow: 0 0.125rem 0.625rem rgba(90, 97, 105, 0.12);
}

.main-sidebar {
  top: 0;
  position: fixed;
  height: calc(100vh);
  background: #fff;
  z-index: 1070;
  will-change: transform;
  transition: transform 200ms ease-in-out;
  box-shadow: 0 0.125rem 9.375rem rgba(90, 97, 105, 0.1),
    0 0.25rem 0.5rem rgba(90, 97, 105, 0.12),
    0 0.9375rem 1.375rem rgba(90, 97, 105, 0.1),
    0 0.4375rem 2.1875rem rgba(165, 182, 201, 0.1);
}
@media (max-width: 767.98px) {
  .main-sidebar {
    transform: translateX(-100%);
    box-shadow: none;
  }
}
.main-sidebar.open {
  transform: translateX(0);
  box-shadow: 0 0.125rem 9.375rem rgba(90, 97, 105, 0.1),
    0 0.25rem 0.5rem rgba(90, 97, 105, 0.12),
    0 0.9375rem 1.375rem rgba(90, 97, 105, 0.1),
    0 0.4375rem 2.1875rem rgba(165, 182, 201, 0.1);
}
.main-sidebar .toggle-sidebar {
  position: absolute;
  right: 0;
  height: 100%;
  padding: 1.25rem;
  font-size: 1.25rem;
  border-left: 1px solid #e1e5eb;
}
.main-sidebar .toggle-sidebar:hover {
  cursor: pointer;
}
.main-sidebar .navbar-brand {
  overflow: hidden;
  height: 3.75rem;
  font-size: 1rem;
}
@media (max-width: 991.98px) {
  .main-sidebar .navbar-brand {
    font-size: 90%;
  }
}
.main-sidebar .nav-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 3.75rem - 1px);
}
.main-sidebar .nav .nav-item,
.main-sidebar .nav .nav-link {
  white-space: nowrap;
  min-width: 100%;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  will-change: background-color, box-shadow, color;
  transition: box-shadow 200ms ease, color 200ms ease,
    background-color 200ms ease;
  font-size: 0.85rem;
}
.main-sidebar .nav .nav-item .nav-link {
  border-bottom: 1px solid #e1e5eb;
  font-weight: 400;
  color: #3d5170;
  padding: 0.9375rem 1.5625rem;
}
.main-sidebar .nav .nav-item .nav-link i {
  min-width: 1.25rem;
  font-size: 90%;
  text-align: center;
  vertical-align: middle;
  will-change: color;
  color: #cacedb;
  transition: color 200ms ease;
  margin-right: 0.375rem;
}
.main-sidebar .nav .nav-item .nav-link i.material-icons {
  font-size: 1.125rem;
  top: -1px;
}
.main-sidebar .nav .nav-item.active,
.main-sidebar .nav .nav-item .nav-link.active,
.main-sidebar .nav .nav-item:hover,
.main-sidebar .nav .nav-item .nav-link:hover {
  box-shadow: inset 0.1875rem 0 0 #007bff;
  background-color: #fbfbfb;
  color: #007bff;
}
.main-sidebar .nav .nav-item.active i,
.main-sidebar .nav .nav-item .nav-link.active i,
.main-sidebar .nav .nav-item:hover i,
.main-sidebar .nav .nav-item .nav-link:hover i {
  color: #007bff;
}
.main-sidebar .nav--no-borders .nav-item .nav-link {
  border-bottom: 0;
}
.main-sidebar .nav--no-borders .dropdown-menu {
  box-shadow: inset 0 0 0.4375rem rgba(61, 81, 112, 0.2);
}
.main-sidebar .nav--no-borders .dropdown-menu .dropdown-item:first-child {
  border-top: 1px solid #e1e5eb;
}
.main-sidebar .dropdown-menu {
  position: static !important;
  transform: translate(0) !important;
  box-shadow: none;
  border-radius: 0;
  width: 100%;
  border: none;
  padding: 0;
  box-shadow: inset 0 -0.1875rem 0.1875rem rgba(61, 81, 112, 0.08);
}
.main-sidebar .dropdown-menu .dropdown-item {
  padding: 0.75rem 1.75rem;
  border-bottom: 1px solid #f0f2f5;
  color: #3d5170;
  font-size: 0.8125rem;
  font-weight: 400;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .main-sidebar .dropdown-menu .dropdown-item {
    font-weight: 300;
  }
}
.main-sidebar .dropdown-menu .dropdown-item:hover,
.main-sidebar .dropdown-menu .dropdown-item.active {
  color: #007bff;
}
.main-sidebar .dropdown-menu .dropdown-item:hover {
  background: none;
}
.main-sidebar .dropdown-menu .dropdown-item.active {
  background-color: #fbfbfb;
}
.main-sidebar .dropdown-menu .dropdown-item:last-of-type {
  border-bottom: 1px solid #e1e5eb;
}
.main-sidebar .dropdown-menu .dropdown-divider {
  margin: 0;
}
.main-sidebar .dropdown-toggle {
  position: relative;
}
.main-sidebar .dropdown-toggle::after {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTcuNDEgNy44NEwxMiAxMi40Mmw0LjU5LTQuNThMMTggOS4yNWwtNiA2LTYtNnoiLz4gICAgPHBhdGggZD0iTTAtLjc1aDI0djI0SDB6IiBmaWxsPSJub25lIi8+PC9zdmc+);
  background-position: center center;
  width: 0.875rem;
  height: 0.5625rem;
  transition: transform 250ms ease-in-out;
  border: none;
  position: absolute;
  top: 50%;
  right: 0.625rem;
  transform: translateY(-50%);
  opacity: 0.1;
  will-change: transform;
}
.main-sidebar .dropdown.show .dropdown-toggle::after {
  transform: translateY(-50%) rotateZ(180deg);
}
@media (max-width: 767.98px) {
  .main-sidebar__search {
    box-sizing: border-box;
    border-right: 0 !important;
    padding: 0.625rem 0;
    border-bottom: 1px solid #e1e5eb;
  }
  .main-sidebar__search .input-group {
    margin: 0 !important;
  }
}

.main-navbar__search .input-group-prepend .input-group-text,
.main-sidebar__search .input-group-prepend .input-group-text {
  font-size: 0.6875rem;
  padding: 0.75rem 1.0625rem;
}

.main-navbar__search input.form-control,
.main-sidebar__search input.form-control {
  border: none;
  font-size: 0.8125rem;
  border-radius: 0;
}
.main-navbar__search input.form-control:hover,
.main-navbar__search input.form-control:focus,
.main-sidebar__search input.form-control:hover,
.main-sidebar__search input.form-control:focus {
  box-shadow: none;
}

.main-content > .main-content-container.container-fluid {
  min-height: calc(100vh - 7.5rem);
}

.main-footer {
  height: 3.75rem;
}
.main-footer .copyright {
  color: #818ea3;
}
@media (max-width: 767.98px) {
  .main-footer {
    display: block !important;
    height: auto;
  }
  .main-footer .nav {
    width: 100%;
    display: block;
    border-bottom: 1px solid #e1e5eb;
    padding-bottom: 0.75rem;
  }
  .main-footer .copyright {
    display: inline-block;
    width: 100%;
    padding: 1rem;
    text-align: center;
  }
}

.page-header .page-title {
  font-size: 1.625rem;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  padding: 0;
}
@media (max-width: 767.98px) {
  .page-header .page-title {
    font-size: 2rem;
  }
}

.page-header .page-subtitle {
  letter-spacing: 0.125rem;
  color: #818ea3;
  font-size: 0.625rem;
}
@media (max-width: 767.98px) {
  .page-header .page-subtitle {
    font-size: 0.8125rem;
    font-weight: 400;
  }
}

.stats-small {
  min-height: 8.7rem;
  overflow: hidden !important;
}
.stats-small canvas {
  position: absolute;
  bottom: 0;
}
.stats-small__data {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-flow: column;
  max-width: 50%;
  z-index: 1;
}
.stats-small__label {
  font-size: 0.625rem;
  letter-spacing: 0.0625rem;
  color: #818ea3;
}
.stats-small__value {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}
.stats-small__percentage {
  position: relative;
  display: table;
  margin-left: auto;
  padding-left: 0.9375rem;
}
.stats-small__percentage--increase,
.stats-small__percentage--decrease {
  font-size: 0.75rem;
}
.stats-small__percentage--increase::before,
.stats-small__percentage--decrease::before {
  content: "";
  width: 0.75rem;
  height: 0.375rem;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-position: center center;
  background-repeat: no-repeat;
}
.stats-small__percentage--increase {
  color: #17c671;
}
.stats-small__percentage--increase::before {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMTdjNjcxIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gPHBhdGggZD0iTTcgMTRsNS01IDUgNXoiLz4gPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiA8L3N2Zz4=);
}
.stats-small__percentage--decrease {
  color: #c4183c;
}
.stats-small__percentage--decrease::before {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjYzQxODNjIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTcgMTBsNSA1IDUtNXoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
}
.stats-small--1 .stats-small__data {
  max-width: 100%;
}
.stats-small--1 .stats-small__percentage {
  margin: 0 auto;
}
.stats-small--1 .stats-small__value {
  font-size: 2.0625rem;
}
.stats-small--1 .stats-small__label {
  font-size: 0.75rem;
}
.stats-small--1 .stats-small__percentage {
  font-size: 0.75rem;
}
.stats-small--1 canvas {
  opacity: 0.5;
}

.card-group .stats-small {
  position: relative;
  overflow: hidden;
}

.quick-post-form {
  display: flex;
  flex-flow: column;
  flex: 1;
}
.quick-post-form .form-group:nth-child(2) {
  display: flex;
  flex: 1;
}
.quick-post-form textarea {
  resize: none;
  min-height: 100px;
}

.blog-comments__avatar img {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 0.25rem;
}

.blog-comments__item {
  padding: 0;
  border-bottom: 1px solid #e1e5eb;
}
.blog-comments__item:last-child {
  border: 0;
}

.blog-comments__actions {
  font-size: 95%;
}
.blog-comments__actions .btn-group button {
  padding: 0.25rem 0.5625rem;
}

.add-new-post__editor {
  min-height: 400px;
}

html .ql-container.ql-snow,
html .ql-toolbar.ql-snow {
  border-color: #e1e5eb;
}

html .ql-container {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

html .ql-editor strong,
html .ql-editor b {
  font-weight: 600;
}

html .ql-toolbar {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #3d5170 !important;
}
html .ql-toolbar .ql-fill,
html .ql-toolbar .ql-stroke.ql-fill {
  fill: #818ea3;
}
html .ql-toolbar .ql-stroke {
  stroke: #818ea3;
}
html .ql-toolbar button:hover .ql-fill,
html .ql-toolbar button:hover .ql-stroke.ql-fill,
html .ql-toolbar button:active .ql-fill,
html .ql-toolbar button:active .ql-stroke.ql-fill,
html .ql-toolbar button:focus .ql-fill,
html .ql-toolbar button:focus .ql-stroke.ql-fill {
  fill: #007bff !important;
}
html .ql-toolbar button:hover .ql-stroke,
html .ql-toolbar button:active .ql-stroke,
html .ql-toolbar button:focus .ql-stroke {
  stroke: #007bff !important;
}
html .ql-toolbar .ql-picker .ql-picker-item:hover {
  color: #007bff !important;
}
html .ql-toolbar .ql-picker .ql-picker-options {
  padding: 6px 20px;
  border: 0 !important;
  box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
    0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
    0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12),
    0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
  border-radius: 0.375rem;
}

.card-post .card-body {
  padding: 1.5625rem 1.5625rem;
}

.card-post .card-footer,
.card-post .card-header {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
}

.card-post__image {
  position: relative;
  min-height: 10.3125rem;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-post__author-avatar {
  width: 2.8125rem;
  height: 2.8125rem;
  box-shadow: 0 0 0 0.125rem #fff, 0 0.1875rem 0.4375rem rgba(90, 97, 105, 0.5);
  display: block;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  text-indent: -9999px;
}
.card-post__author-avatar--small {
  width: 2.1875rem;
  height: 2.1875rem;
}

.card-post__author-name {
  font-weight: 500;
}

.card-post--aside {
  display: flex;
  flex-flow: row;
}
.card-post--aside .card-post__image {
  border-top-right-radius: 0;
  border-top-left-radius: 0.625rem;
  border-bottom-left-radius: 0.625rem;
  min-width: 180px;
}

.card-post--1 .card-post__author,
.card-post--1 .card-post__category {
  position: absolute;
}

.card-post--1 .card-post__author {
  transform: translateY(50%);
  margin-left: 1.5625rem;
  position: absolute;
  bottom: 0;
}

.card-post--1 .card-post__category {
  top: 0.9375rem;
  right: 0.9375rem;
  position: absolute;
  text-transform: uppercase;
}

.card-post--1 .card-body {
  padding-top: 2.1875rem;
}

.card-post--1.card-post--aside .card-body {
  padding: 1.5625rem 1.5625rem;
}

.card-post--1.card-post--aside .card-post__author {
  left: 0.9375rem;
  bottom: 0.9375rem;
  transform: none;
  margin: 0;
}

.card-post--1.card-post--aside .card-post__category {
  right: initial;
  top: 0.9375rem;
  left: 0.9375rem;
}

.error {
  height: calc(100vh - 3.75rem);
  display: flex;
}
.error__content {
  padding: 0 0.9375rem;
  display: flex;
  flex-flow: column;
  margin: auto;
  align-items: center;
  text-align: center;
}
.error__content h2 {
  color: #cacedb;
  font-weight: 700;
  font-size: 3.75rem;
  margin-bottom: 1.5625rem;
}
.error__content h3 {
  font-weight: 500;
  font-size: 2.1875rem;
  margin-bottom: 0.625rem;
}
.error__content p {
  color: #818ea3;
}
